@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
.header {
  /* display: none; */
  font-family: 'Inder', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  text-align: center !important;
}
