.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkButton {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkButton:hover {
  background-color: #e0ffe0;
}

.rectangle-vertical {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  /* background-size: cover; */
  /* background-size: 100vw 100vh; */
  background-size: 600px 600px;
  background-position: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 300px; /* Adjust the height as needed */
  width: 200px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hint {
  font-size: 12px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkButton {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkButton:hover {
  background-color: #e0ffe0;
}

.result {
  font-weight: bold;
  margin-top: 10px;
  font-size: 200%; /* Enlarge the font size to 3 times the original */
  font-family: "Arial", sans-serif; /* Apply a different font style */
  /*transition: font-size 5s; /* Add a 1-second transition animation */
}
