@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=PT+Mono&display=swap');
.outer {
  background: url('../../assets/images/egypt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 15% 60% 20%;
  height: 100vh;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.infoBox {
  display: grid;
  align-items: center;
  justify-self: center;
  background-color: #3b2a1a;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  text-align: center;
}

.upperSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.upperSection .level {
  grid-column: 2/3;
  max-height: 50%;
  min-width: 25%;
  grid-row: 1/2;
  font-family: 'Inder', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 1px 0.5px white;
  margin-top: 0.8rem;
}

.upperSection .score {
  grid-column: 3/3;
  grid-row: 1/2;
  justify-self: flex-end;
  margin-right: 2rem;
  margin-top: 0.8rem;
  min-width: 10%;
  height: 55%;
  font-family: 'Inria Sans', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 25px;
}

.upperSection .score span {
  font-size: 12px;
  font-weight: bold;
}

.random {
  opacity: 0;
}

.bottomSection {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: flex-end;
}

.timeRemaining {
  justify-self: flex-start;
  margin-left: 2.5rem;
  min-height: 50%;
  margin-bottom: 0.75rem;
  font-family: 'Inria Sans', sans-serif;
  font-size: 2rem;
  color: #f2ceac;
}

.timeRemaining span {
  color: white;
  font-size: 20px;
}

.teamName {
  justify-self: center;
  font-family: 'PT Mono', monospace;
  font-size: 25px;
  letter-spacing: 1px;
  height: 33%;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 0.75px 0px white;
}

.features {
  height: 33%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-self: flex-end;
  margin-right: 4rem;
  margin-bottom: 1.45rem;
  align-items: center;
}

.features div {
  align-items: center;
  border-radius: 100vw;
  background-color: #3b2a1a;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features div:hover {
  cursor: pointer;
  transform: scale(1.03);
}
