@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

main {
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/hacking-background.jpg") no-repeat center
    center/cover;
}

.container {
  position: relative;
  height: 95vh;
  width: 80vw;
  background: url("../../assets/images/laptop-with-hand.png") no-repeat center
    center/cover;
  transition: all 0.3s ease-in;
}

.container .card {
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 3fr;
  height: 50vh;
  width: 48vw;
  top: 9%;
  left: 20%;
  background-color: #212529;
  border-radius: 10px;
}

.card .hackerImage {
  height: 100%;
  width: 100%;
  background: url("../../assets/images/hacker.jpg") no-repeat center
    center/cover;
}

.card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.content .heading {
  font-size: 1.8rem;
  color: #39ff14;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.formContainer input {
  background-color: #343a40;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  width: 100%;
  color: #39ff14;
  border-radius: 10px;
}

.formContainer input::placeholder {
  color: #868e96;
}

.formContainer button {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #39ff14;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
