@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.main {
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/hacking-background.webp') no-repeat
    center center/cover;
}

.container {
  position: relative;
  height: 95%;
  width: 80%;
  background: url('../../assets/images/laptop-with-hand.webp') no-repeat center
    center/cover;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.container .card {
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 3fr;
  height: 56%;
  width: 57.9%;
  top: 7%;
  left: 21%;
  background-color: #202020;
  border-radius: 10px;
}

.card .hackerImage {
  height: 100%;
  width: 100%;
  background: url('../../assets/images/hacker.jpg') no-repeat center
    center/cover;
  border-radius: 10px 0 0 10px;
}

.card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.content .heading {
  font-size: 1.8rem;
  color: #39ff14;
  margin-bottom: 20px;
  width: 90%;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

.formContainer input {
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  color: #39ff14;
  border-radius: 10px;
}

.formContainer input::placeholder {
  color: #868e96;
}

.formContainer p {
  color: #868e96;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.formGroup {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.formGroup span {
  font-size: 25px;
  color: #39ff14;
}
