.img {
    position: relative;
    width: 40%;
    height: 80%;
    margin: auto;
    margin-left: 5vw;
    display: inline-block;
  }

.img img{
  width: 80%;
  height: 100%;
  border-radius: 10px;
  display: block;
}

.img div{
    color: #39ff14;
  margin: 2vh 5vw;
  width: 80%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 0 0 10px #000;

  position: absolute;
  top: 87%;
  left: 5%;
}