<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puzzle Rush</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="background"></div>
    <div class="login-frame animated-border">
      <h1 class="glitch">
        <span aria-hidden="true">WELCOME TO TPA</span>
        WELCOME TO
        <span style="position: relative">TPA</span>
        <span aria-hidden="true">WELCOME TO TPA</span>
      </h1>
      <form action="">
        <input
          !required
          type="text"
          name="team-code"
          placeholder="Enter your team code"
        />
        <input
          !required
          type="password"
          name="password"
          placeholder="Enter the passcode"
        />
        <button type="submit">Login</button>
      </form>
    </div>
    <script src="script.js"></script>
  </body>
</html>
