@font-face {
  font-family: Inter Tight;
  src: url(https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap);
}

.header {
  font-family: Inter Tight, sans-serif;
  font-size: 50px;
  text-align: center;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-weight: bold;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 800px;
  position: relative;
  top: -50px;
  transition: top 0.5s ease;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-height: auto;
  max-width: 400px;
  background-color: rgba(121, 170, 243, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardImage {
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cardContent {
  font-family: Arial, sans-serif;
  color: hsl(165, 7%, 89%);
  font-size: 13px;
  text-align: left;
}

.backgroundVideoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.backgroundVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: Source Code Pro;
  src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,500;1,500&display=swap);
}

.typewriter {
  overflow: hidden;
  border-right: 0.08em solid rgb(0, 0, 0);
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 1s steps(40, end) /* , blink-caret 0.75s step-end infinite*/;
  word-wrap: break-word;
  max-width: 80%;
  font-family: Source Code Pro, monospace;
}

@keyframes typing {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
