.body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
}
.img {
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/images/Bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: block;
  opacity: 1;

  transition: display 3s, opacity 3s ease-in;
}

.img.removing {
  display: none;
  opacity: 0;
}
